<nav>

 <ul>

	 <li><%= link_to "Home", root_path %></li>

	 <li><%= link_to "Events", events_path %></li>

	 <li><%= link_to "Discussion", discussion_path %></li>

	 <li><%= link_to "Shop", shop_path %></li>

	 <li> The main thing is : <%= shop_path puts "Welcome"%></li>

 </ul>

</nav>