<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<<<<<<< HEAD
=======
 
>>>>>>> be3f4f5a086f4917a4d4a06ce40cb4d75d38ac99
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/navigation' %>
<<<<<<< HEAD
=======
    <p class="notice"><%= notice %></p>                                                                                                                   <p class="alert"><%= alert %></p>  
>>>>>>> be3f4f5a086f4917a4d4a06ce40cb4d75d38ac99

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
